<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>333 Nightcrawler</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/night.css') }}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/toggle-switch.css') }}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 20px;
                padding-bottom: 60px;
            }

            /* Custom container */
            .container {
                margin: 0 auto;
                max-width: 1000px;
            }
            .container > hr {
                margin: 60px 0;
            }

            /* Main marketing message and sign up button */
            .jumbotron {
                margin: 80px 0;
                text-align: center;
            }
            .jumbotron h1 {
                font-size: 100px;
                line-height: 1;
            }
            .jumbotron .lead {
                font-size: 24px;
                line-height: 1.25;
            }
            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }

            /* Supporting marketing content */
            .marketing {
                margin: 60px 0;
            }
            .marketing p + h4 {
                margin-top: 28px;
            }


            /* Customize the navbar links to be fill the entire space of the .navbar */
            .navbar .navbar-inner {
                padding: 0;
            }
            .navbar .nav {
                margin: 0;
                display: table;
                width: 100%;
            }
            .navbar .nav li {
                display: table-cell;
                width: 1%;
                float: none;
            }
            .navbar .nav li a {
                font-weight: bold;
                text-align: center;
                border-left: 1px solid rgba(255,255,255,.75);
                border-right: 1px solid rgba(0,0,0,.1);
            }
            .navbar .nav li:first-child a {
                border-left: 0;
                border-radius: 3px 0 0 3px;
            }
            .navbar .nav li:last-child a {
                border-right: 0;
                border-radius: 0 3px 3px 0;
            }

	    .results {
		    clear: both;
	    }

	    .ui-helper-hidden-accessible {
	    	display: none;
	    }

	    .ui-helper-hidden {
		display: none;
	    }

        </style>


	<link href="{{url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery.blockUI.js') }}"></script>
	<script type="text/javascript">
		var results;
		var sortedby;
		function submit()
		{
			toggleloadingimage();
			var arrive = false;
			if (document.getElementById("arriveby").checked) {
				arrive = true;
			}
			var speed = false;
			if (document.getElementById("speed").checked) {
				speed = true;
			}

			var date = document.getElementById("datepicker").value.split("/");
			var am = document.getElementById("AM").selected;
			var hour = document.getElementById("hour").value;
			if (hour != "") {
				hour = hour*1;
				if (hour == 12) {
					hour = 0;
				}
				if (!am) {
					hour = hour + 12;
				}
            }
            var orig_city_value = document.getElementById("originform").value;
            var dest_city_value = document.getElementById("destform").value;

			$.get(
				"all",
				{
					orig: orig_city_value.substring(0, orig_city_value.indexOf(",")),
					dest: dest_city_value.substring(0, dest_city_value.indexOf(",")),
					month: date[0],
					day: date[1],
					year: date[2],
					hour: hour,
					minute: document.getElementById("minute").value,
					arriveby: arrive,
					optimizeforspeed: speed
				},
				function (data, status) {
					console.log(data + " " + status);
					results = data;
					initializeprices(results);
					if (speed) {
						sortresults(comparebyelapsed, 4);
						sortedby = 4;
					} else {
						sortresults(comparebyprice, 1);
						sortedby = 1;
					}
					display();
					//toggleloadingimage();
				}
			);
		}

		function initializeprices(x) {
			for (var i = 0; i < x.length;x++) {
				var r = x[i];
				if (r.price == undefined) {
					var sum = 0;
					for (var j = 1; j < r.length; j++) {
						var y = r[j];
						sum += y.price.substring(1);
					}
					r[0].price = sum;
				}
			}
		}

		function comparebyprice(a, b) {
			var p1, p2;
			p1 = (a.price == undefined) ? a[0].price : a.price;
			p2 = (b.price == undefined) ? b[0].price : b.price;
			return p1.substring(1) - p2.substring(1);
		}

		function timetominutes(time) {
			var colon = time.indexOf(":");
			var hour = time.substring(0, colon) *1;
			var minute = time.substring(colon+1, colon+3) *1;
			if (hour == 12) {
				hour = 0;
			}
			if (time.indexOf("PM") != -1) {
				hour = (hour*1) + 12;
			}
			return hour * 60 + (minute*1);
		}

		function comparebyarrival(a, b) {
			c = (a.departure_time == undefined) ? a[0] : a;
			d = (b.departure_time == undefined) ? b[0] : b;
			a1 = timetominutes(c.departure_time);
			a2 = timetominutes(c.arrival_time);
			b1 = timetominutes(d.departure_time);
			b2 = timetominutes(d.arrival_time);
			if (a2 < a1) {
				a2 = a2 + 24*60;
			}
			if (b2 < b1) {
				b2 = b2 + 24*60;
			}
			return a2 - b2;
		}

		function comparebydeparture(a, b) {
			c = (a.departure_time == undefined) ? a[0] : a;
			d = (b.departure_time == undefined) ? b[0] : b;
			return timetominutes(c.departure_time) - timetominutes(d.departure_time);
		}

		function comparebyelapsed(a, b) {
			c = (a.departure_time == undefined) ? a[0] : a;
			d = (b.departure_time == undefined) ? b[0] : b;
			a1 = timetominutes(c.departure_time);
			a2 = timetominutes(c.arrival_time);
			b1 = timetominutes(d.departure_time);
			b2 = timetominutes(d.arrival_time);
			c1 = a2 - a1;
			c2 = b2 - b1;
			if (c1 < 0) {
				c1 = c1 + 24*60;
			}
			if (c2 < 0) {
				c2 = c2 + 24*60;
			}
			return c1 - c2;
		}


		function sortresults(comparefunction, type) {
			/*if (!isLoading) {
				toggleloadingimage();
				}*/
			if (sortedby == type) {
				return;
			}
			results.sort(comparefunction);
            display();
		}

		function display() {
			if (!isLoading) {
				toggleloadingimage();
			}
			var e = document.getElementById("results-div");
			var header = document.getElementById("results-header");
			header.innerHTML = document.getElementById("originform").value + " to " +
				document.getElementById("destform").value + " on " + document.getElementById("datepicker").value;
			e.innerHTML = "";
			if (results.length == 0) {
				e.innerHTML += "No routes found.";
			}
			for (var i = 0; i < results.length; i++) {
				var r = results[i];
				if (r.departure == undefined) {
					// multiple legs
					for (var j = 1; j < r.length; j++) {
						var leg = r[j];
						e.innerHTML += "<h5>Leg " + j + "</h5>";
						// multiple stops
						if (leg.departure == undefined) {
							for (var k = 0; i < leg.length; k++) {
								var stop = leg[k];
								appendData(e, stop);
								appendLink(e, stop);
							}
						} else {
							appendData(e, leg);
							appendLink(e, leg);
						}

						if (j < r.length - 1) {
							e.innerHTML += "<br/>";
						}
					}
					e.innerHTML += "<hr/>"
				} else {
					// one leg
					appendData(e, r);
					appendLink(e, r);
					e.innerHTML += "<hr/>"
				}
			}
			if (sortedby == 4) {
				document.getElementById("sort-by-elapsed-time").checked = true;
			}
            $("#results-modal").modal("show");
            $("#map-modal").modal("show");
			toggleloadingimage();
		}

		function appendData(e, x) {
			e.innerHTML += "Depart from: " + x.departure + " at " + x.departure_time + '<br />';
			e.innerHTML += "Arrive at: " + x.arrival + " at " + x.arrival_time + '<br />';
			e.innerHTML += "Price: " + x.price + '<br />';
			e.innerHTML += "Carrier: " + x.carrier + "<br />";
			//e.innerHTML += "Tickets: <a href=\"" + x.link + + "/" + x.payload + "\" target=\"_blank\">link</a>";
		}

		function appendLink(e, x) {
			e.innerHTML += "Tickets: <a href=\"javascript:post_to_url(" + x.link + ", " + x.payload + ")\">link</a>";
		}

		function linkRequest(link, payload) {
			$.post(link, payload, function(data) {var win=window.open('about:blank'); with(win.document) {open(); write(data); close();}});
		}

		function post_to_url(path, params) {
		    method = "post"; // Set method to post by default if not specified.

		    // The rest of this code assumes you are not using a library.
		    // It can be made less wordy if you use one.
		    var form = document.createElement("form");
		    form.setAttribute("method", method);
		    form.setAttribute("action", path);
		    form.setAttribute("target", "_blank");

		    for(var key in params) {
			if(params.hasOwnProperty(key)) {
			    var hiddenField = document.createElement("input");
			    hiddenField.setAttribute("type", "hidden");
			    hiddenField.setAttribute("name", key);
			    hiddenField.setAttribute("value", params[key]);

			    form.appendChild(hiddenField);
			 }
		    }

		    document.body.appendChild(form);
		    form.submit();
		}


		var isLoading = false;
		function toggleloadingimage() {
			if (isLoading) {
				$.unblockUI();
			}
			else {
				$.blockUI({ message: '<img src="{{url_for('static', filename='img/ajax-loader.gif') }}"/>' });
			}
			isLoading = !isLoading;
			//$( ".loading img" ).fadeToggle();
		}

		var places = [];
		function loadCities() {
			$.get("cities", function (data, status) {
                    for (a in data) {
                        places.push(data[a]);
                    }
                });
		};

		$(document).ready(loadCities());

		$(function() {
			$.datepicker.setDefaults({minDate: 0});
			$( "#datepicker" ).datepicker();
			//var places= ["Princeton", "Boston", "New York"];
			//var places = places2;
			$( "#originform" ).autocomplete({
				source: places
			});
			$( "#destform" ).autocomplete({
				source: places
			});
		});

	</script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{{url_for('static', filename='assets/js/html5shiv.js') }}"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename='assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='assets/ico/apple-touch-icon-57-precomposed.png') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='assets/ico/favicon.png') }}"> -->
    </head>

    <body>
        <div class="modal fade" id="results-modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Results</h3> <h4 id="results-header"></h4>
                <div id="sort-options">
                    <label>Sort by:</label>
                    <div class="switch candy blue switch-four">
                        <input id="sort-by-price" name="sorting" type="radio" checked>
                        <label for="sort-by-price" onclick="sortresults(comparebyprice, 1)">Price</label>

                        <input id="sort-by-arrival-time" name="sorting" type="radio">
                        <label for="sort-by-arrival-time" onclick="sortresults(comparebyarrival, 2)">Arrival Time</label>

                        <input id="sort-by-departure-time" name="sorting" type="radio">
                        <label for="sort-by-departure-time" onclick="sortresults(comparebydeparture, 3)">Departure Time</label>

                        <input id="sort-by-elapsed-time" name="sorting" type="radio">
                        <label for="sort-by-elapsed-time" onclick="sortresults(comparebyelapsed, 4)">Elapsed Time</label>

                        <span class="slide-button"></span>
                    </div>
                </div>
                <!--<button onclick="sortresults(comparebyprice)">Sort by Price</button>
                <button onclick="sortresults(comparebyarrival)">Sort by Arrival Time</button>
                <button onclick="sortresults(comparebydeparture)">Sort by Departure Time</button>
                <button onclick="sortresults(comparebyelapsed)">Sort by Elapsed Time</button>-->
            </div>
            <div class="modal-body" id="results-div">
            </div>
        </div>

        <div class="modal fade" id="map-modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <iframe height="100%" width="100%" frameBorder="0" scrolling="no"
                    src="/map">
                </iframe>
            </div>
            <div class="modal-body" id="map-div">
            </div>
        </div>       
        <div class="container">

            <div class="masthead">
                <h3 class="muted">Nightcrawler</h3>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li class="active"><a href="home">Home</a></li>
                                <li><a href="timeline">Timeline</a></li>
                                <li><a href="/">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.navbar -->
            </div>

            <!-- Jumbotron -->
            <div class="jumbotron">
                <h1>Search a Route!</h1>
                <p class="lead">Type in an origin, destination, and your travel preferences <br> and get started with Nightcrawler today!</p>
            </div>

            <div class="well offset1 span7">  
                <label>Origin</label>
                <input type="text" class="span3" placeholder="e.g. New York City" id="originform">  
                <label>Destination</label>  
                <input type="text" class="span3" placeholder="e.g. Princeton" id="destform">
		<label>Date</label>
		<input type="text" id="datepicker">
                <!--<input type="text" class="span3" id="month" placeholder="e.g. MM">
                <input type="text" class="span3" id="day" placeholder="e.g. DD">
                <input type="text" class="span3" id="year" placeholder="e.g. YYYY">-->

                <div id="switchbar">
                    <label>Time (optional)</label>
                    <div class="switch candy blue">
                        <input id="arriveby" name="time" type="radio" checked>
                        <label for="arriveby" onclick="">Arrive By</label>

                        <input id="departby" name="time" type="radio">
                        <label for="departby" onclick="">Depart After</label>

                        <span class="slide-button"></span>
                    </div>
	        </div>
                <input type="text" class="span3" id="hour" placeholder="HH">
                <input type="text" class="span3" id="minute" placeholder="MM">
		<select class="dropdown"><option value="AM" id="AM">AM</option><option value="PM" id="PM">PM</option></select>
                <!-- <label>Optimize for:</label>
                <input type="radio" name="optimize" id="speed" checked>Speed</input>
                <input type="radio" name="optimize" id="cheapness">Cheapness</input>-->

                <div id="switchbar">
                    <label>Optimize for:</label>
                    <div class="switch candy blue">
                        <input id="speed" name="optimize" type="radio" checked>
                        <label for="speed" onclick="">Speed</label>

                        <input id="cheapness" name="optimize" type="radio"> 
                        <label for="cheapness" onclick="">Price</label>

                        <span class="slide-button"></span>
                    </div>
                </div>
            <div class="results"><button class="btn btn-large btn-success" type="button" onclick="submit()">Submit</button> </div>
                <br></br>

		<!--<button type="submit" class="btn btn-large btn-success" onclick="submit()">Submit</button>  -->
	</div>    <br/>

	

	<!--<div class="results">
		<button onclick="sortresults(comparebyprice)">Sort by Price</button>
		<button onclick="sortresults(comparebyarrival)">Sort by Arrival Time</button>
		<button onclick="sortresults(comparebydeparture)">Sort by Departure Time</button>
		<button onclick="sortresults(comparebyelapsed)">Sort by Elapsed Time</button>
	</div>-->
	    <div class="results" id="results"></div>

            <!-- Le javascript
            ================================================== -->
            <script src="{{url_for('static', filename='assets/js/bootstrap.js') }}"></script>
            <!-- Placed at the end of the document so the pages load faster -->
            <!--<script src="{{url_for('static', filename='assets/js/jquery.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-transition.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-alert.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-modal.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-tab.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-tooltip.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-popover.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-button.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-collapse.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-carousel.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-typeahead.js') }}"></script>-->

        </body>
    </html>

