<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SKDHFLKSJDHFLKSDJHFLKDSF -->
        <meta charset="utf-8">
        <title>333 Nightcrawler</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/night.css') }}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/toggle-switch.css') }}" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 10px;
                padding-bottom: 60px;
            }

            /* Custom container */
            .container {
                margin: 0 auto;
                max-width: 1000px;
            }
            .container > hr {
                margin: 60px 0;
            }

            /* Main marketing message and sign up button */
            .jumbotron {
                margin: 10px 0;
                text-align: center;
            }
            .jumbotron h1 {
                font-size: 4em;
                line-height: 1;
            }
            .jumbotron .lead {
                font-size: 1em;
                line-height: 1.25;
            }
            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }

            /* Supporting marketing content */
            .marketing {
                margin: 10px 0;
            }
            .marketing p + h4 {
                margin-top: 18px;
            }


            /* Customize the navbar links to be fill the entire space of the .navbar */
            .navbar .navbar-inner {
                padding: 0;
            }
            .navbar .nav {
                margin: 0;
                display: table;
                width: 100%;
            }
            .navbar .nav li {
                display: table-cell;
                width: 1%;
                float: none;
            }
            .navbar .nav li a {
                font-weight: bold;
                text-align: center;
                border-left: 1px solid rgba(255,255,255,.75);
                border-right: 1px solid rgba(0,0,0,.1);
            }
            .navbar .nav li:first-child a {
                border-left: 0;
                border-radius: 3px 0 0 3px;
            }
            .navbar .nav li:last-child a {
                border-right: 0;
                border-radius: 0 3px 3px 0;
            }

	    .results {
		    clear: both;
	    }

	    .ui-helper-hidden-accessible {
	    	display: none;
	    }

	    .ui-helper-hidden {
		display: none;
	    }

        </style>


	<link href="{{url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery.blockUI.js') }}"></script>
	<script type="text/javascript">
		var results;
		var sortedby;
		var orig_state;
		var dest_state;
		function submit()
		{
			var orig_city_value = document.getElementById("originform").value;
			var dest_city_value = document.getElementById("destform").value;
			var date = document.getElementById("datepicker").value.split("/");
			orig_city_value = validatelocation(orig_city_value);
			if (orig_city_value == null) {
				console.log("invalid origin");
				window.alert("The origin value you have entered is not a supported location.");
				return;
			} else {
				comma = orig_city_value.indexOf(",");
			        orig_state = orig_city_value.substring(comma+1);
			        orig_city_value = orig_city_value.substring(0, comma);
			}
			dest_city_value = validatelocation(dest_city_value);
			if (dest_city_value == null) {
				console.log("invalid destination");
				window.alert("The destination value you have entered is not a supported location.");
				return;
			} else {
				comma = dest_city_value.indexOf(",");
			        dest_state = dest_city_value.substring(comma+1);
			        dest_city_value = dest_city_value.substring(0, comma);
			}
			if (!validatedate(date)) {
				window.alert("The date you have entered is invalid.");
				return;
			}

			var arrive = false;
			if (document.getElementById("arriveby").checked) {
				arrive = true;
			}
			var speed = false;
			if (document.getElementById("speed").checked) {
				speed = true;
			}

			var am = document.getElementById("AM").selected;
			var hour = document.getElementById("hour").value;
			var minute = document.getElementById("minute").value;
			if (hour != "" && (isNaN(hour) || hour < 0 || hour > 12)) {
				window.alert("The hour you have entered is invalid.");
				return;
			}
			if (minute != "" && (isNaN(minute) || minute < 0 || minute > 59)) {
				window.alert("The minute you have entered is invalid.");
				return;
			}
			toggleloadingimage();
			if (hour != "") {
				hour = hour*1;
				if (hour == 12) {
					hour = 0;
				}
				if (!am) {
					hour = hour + 12;
				}
			}

			$.get(
				"all",
				{
					orig: orig_city_value,
					dest: dest_city_value,
					month: date[0],
					day: date[1],
					year: date[2],
					hour: hour,
					minute: document.getElementById("minute").value,
					arriveby: arrive,
					optimizeforspeed: speed
				},
				function (data, status) {
					console.log(data + " " + status);
					results = data;
					initializeprices(results);
					if (speed) {
						sortresults(comparebyelapsed, 4);
						sortedby = 4;
					} else {
						sortresults(comparebyprice, 1);
						sortedby = 1;
					}
					display();
					//toggleloadingimage();
				}
			);
		}


		function validatelocation(x) {
			var loc = x;
			var comma = x.indexOf(",");
			if (comma != -1) {
				loc = loc.substring(0, comma);
			}
			loc = loc.toLowerCase();
			for (var i = 0; i < places.length; i++) {
				p = places[i];
				comma = p.indexOf(",");
				p2 = p.substring(0, comma);
				p2 = p2.toLowerCase();
				if (loc == p2) {
					return p;
				}
			}
			return null;
		}

		function validatedate(x) {
			if (x.length != 3) {
				return false;
			}
			if (isNaN(x[0]) || isNaN(x[1]) || isNaN(x[2])) {
				return false;
			}
			var month = parseInt(x[0]);
			if (month < 1 || month > 12) {
				return false;
			}
			var day = parseInt(x[1]);
			if (day < 1 || day > 31) {
				return false;
			}
			today = new Date();
			year = parseInt(x[2]);
			if (year < today.getFullYear()) {
				return false;
			}
			return true;
		}

		function initializeprices(x) {
			for (var i = 0; i < x.length; i++) {
				var r = x[i];
				r.elapsed_time = getelapsedtime(r);
				console.log(r);
				if (r instanceof Array && r[0].price == undefined) {
					var sum = 0;
					for (var j = 1; j < r.length; j++) {
						var leg = r[j];
						if (leg instanceof Array) {
							sum += parseFloat(leg[0].price.substring(1));
						} else {
							sum += parseFloat(leg.price.substring(1));
						}
					}
					sum = sum.toString();
					dot = sum.indexOf(".");
					if (dot != -1 && dot == sum.length - 2) {
						sum = sum + "0";
					}
					console.log(sum);
					r[0].price = "$" + sum;
				}
			}
		}

		function comparebyprice(a, b) {
			var p1, p2;
			p1 = (a.price == undefined) ? a[0].price : a.price;
			p2 = (b.price == undefined) ? b[0].price : b.price;
			return p1.substring(1) - p2.substring(1);
		}

		function timetominutes(time) {
			var colon = time.indexOf(":");
			var hour = time.substring(0, colon) *1;
			var minute = time.substring(colon+1, colon+3) *1;
			if (hour == 12) {
				hour = 0;
			}
			if (time.indexOf("PM") != -1) {
				hour = (hour*1) + 12;
			}
			return hour * 60 + (minute*1);
		}

		function comparebyarrival(a, b) {
			c = (a.departure_time == undefined) ? a[0] : a;
			d = (b.departure_time == undefined) ? b[0] : b;
			a1 = timetominutes(c.departure_time);
			a2 = timetominutes(c.arrival_time);
			b1 = timetominutes(d.departure_time);
			b2 = timetominutes(d.arrival_time);
			if (a2 < a1) {
				a2 = a2 + 24*60;
			}
			if (b2 < b1) {
				b2 = b2 + 24*60;
			}
			return a2 - b2;
		}

		function comparebydeparture(a, b) {
			c = (a.departure_time == undefined) ? a[0] : a;
			d = (b.departure_time == undefined) ? b[0] : b;
			return timetominutes(c.departure_time) - timetominutes(d.departure_time);
		}

		function comparebyelapsed(a, b) {
			//return getelapsedtime(a) - getelapsedtime(b);
			return a.elapsed_time - b.elapsed_time;
		}

		function getelapsedtime(r) {
			a1 = timetominutes(getrecordtime(r, true));
			a2 = timetominutes(getrecordtime(r, false));
			c1 = a2 - a1;
			if (c1 < 0) {
				c1 = c1 + 24*60;
			}
			return c1;
		}

		function getrecordtime(r, departure) {
			if (r instanceof Array) {
				if (r[0].departure == undefined) {
					// multiple legs
					return (departure ? r[0].departure_time : r[0].arrival_time);
				} else {
					// one leg
					return (departure ? r[0].departure_time : r[r.length-1].arrival_time);
				}
			} else {
				return (departure ? r.departure_time : r.arrival_time);
			}
		}


		function sortresults(comparefunction, type) {
			/*if (!isLoading) {
				toggleloadingimage();
				}*/
			if (sortedby == type) {
				return;
			}
			results.sort(comparefunction);
            display();
		}

		var map_data;

		function display() {
			if (!isLoading) {
				toggleloadingimage();
			}
			var e = document.getElementById("results-div");
			var header = document.getElementById("results-header");
			header.innerHTML = document.getElementById("originform").value + " to " +
				document.getElementById("destform").value + " on " + document.getElementById("datepicker").value;
			e.innerHTML = "";
			if (results.length == 0) {
				e.innerHTML += "No routes found.";
			}
			for (var i = 0; i < results.length; i++) {
				var r = results[i];
				if (r instanceof Array) {
					if (r[0].departure != undefined) {
						// multiple stops, one leg
						var stop;
						var addcarriers = false;
						if (r.carriers == undefined) {
							addcarriers = true;
							r.carriers = new Array();
							r.stops = new Array();
						}
						for (var j = 0; j < r.length; j++) {
							stop = r[j];
							if (addcarriers) {
								r.carriers[j] = carriertomode(stop.carrier);
								if (j == 0) {
									r.stops[0] = r.departure + " " + orig_state;
								}
								r.stops[j+1] = r.arrival;
								if (j == r.length-1) {
									r.stops[j+1] += " " + dest_state;
								}
							}
							appendData(e, stop);
						}
						appendPriceCarrier(e, stop);
						appendLink(e, stop);
						appendMap(e, i);
						e.innerHTML += "<br /><b>Elapsed time: " + r.elapsed_time + " minutes</b>";
						e.innerHTML += "<hr/>"
						continue;
					}
					// multiple legs
					var addcarriers = false;
					if (r.carriers == undefined) {
						addcarriers = true;
						r.carriers = new Array();
						r.stops = new Array();
					}
					for (var j = 1; j < r.length; j++) {
						var leg = r[j];
						e.innerHTML += "<h5>Leg " + j + "</h5>";
						// multiple stops
						if (leg instanceof Array) {
							var stop;
							for (var k = 0; k < leg.length; k++) {
								stop = leg[k];
								if (addcarriers) {
									r.carriers.push(carriertomode(stop.carrier));
									if (r.stops.length == 0) {
										r.stops.push(stop.departure + " " + orig_state);
									}
									r.stops.push(stop.arrival);
								}
								appendData(e, stop);
							}
							appendPriceCarrier(e, stop);
							appendLink(e, stop);
						} else {
							if (addcarriers) {
								r.carriers.push(carriertomode(leg.carrier));
								if (r.stops.length == 0) {
									r.stops.push(leg.departure + " " + orig_state);
								}
								r.stops.push(leg.arrival);
							}
							appendData(e, leg);
							appendPriceCarrier(e, leg);
							appendLink(e, leg);
						}

						if (j < r.length - 1) {
							e.innerHTML += "<br/>";
						}
					}
					if (addcarriers) {
						r.stops[r.stops.length-1] += " " + dest_state;
					}
					appendMap(e, i);
					e.innerHTML += "<br /><b>Total price: " + r[0].price + "</b>";
					e.innerHTML += "<br /><b>Elapsed time: " + r.elapsed_time + " minutes </b>";
					e.innerHTML += "<hr/>"
				} else {
					// one leg
					if (r.carriers == undefined) {
						r.carriers = new Array();
						r.carriers[0] = carriertomode(r.carrier);
						r.stops = new Array();
						r.stops[0] = r.departure + " " + orig_state;
						r.stops[1] = r.arrival + " " + dest_state;
					}
					appendData(e, r);
					appendPriceCarrier(e, r);
					appendLink(e, r);
					appendMap(e, i);
					e.innerHTML += "<br /><b>Elapsed time: " + r.elapsed_time + " minutes </b>";
					e.innerHTML += "<hr/>"
				}
			}
			if (sortedby == 4) {
				document.getElementById("sort-by-elapsed-time").checked = true;
			}
            $("#results-modal").modal("show");

			toggleloadingimage();
        }

function showMap(stops, modes) {
			var header = document.getElementById("map-header");
			header.innerHTML = document.getElementById("originform").value + " to " +
				document.getElementById("destform").value;

            var m = document.getElementById("map-div");
            var temp_map_div = "";
            //temp_map_div += '<iframe width=\"100%\" onLoad=\"calcHeight();\" src=\"/map?stops=\" frameBorder=\"0\" scrolling=\"no\" height=\"1\"></iframe>';
            //temporary for testing
            temp_map_div += '<iframe width=\"100%\" src=\"/map?stops=';

            console.log("stops " + stops);
            console.log("modes " + modes);

            temp_map_div += "["

            for (var i = 0; i < stops.length; i++) {
                temp_map_div += "'";
                temp_map_div += stops[i];
                temp_map_div += "'";
                temp_map_div += ',';
            }
            temp_map_div = temp_map_div.substring(0, temp_map_div.length-1);
            temp_map_div += "]";

            temp_map_div += '&modes=';
            temp_map_div += "["
            for (var i = 0; i < modes.length; i++) {
                temp_map_div += "'";
                temp_map_div += modes[i];
                temp_map_div += "'";
                temp_map_div += ',';
            }
            temp_map_div = temp_map_div.substring(0, temp_map_div.length-1);
            temp_map_div += "]";

            temp_map_div += '\" frameBorder=\"0\" scrolling=\"no\" height=\"574px\"></iframe>'
            console.log(temp_map_div);
            m.innerHTML = temp_map_div;
            
			$("#map-modal").modal("show");
        }

		function appendData(e, x) {
			e.innerHTML += "Depart from: " + x.departure + " at " + x.departure_time + '<br />';
			e.innerHTML += "Arrive at: " + x.arrival + " at " + x.arrival_time + '<br />';
		}

		function appendPriceCarrier(e, x) {
			e.innerHTML += "Price: " + x.price + '<br />';
			e.innerHTML += "Carrier: " + x.carrier + "<br />";
		}

		function appendLink(e, x) {
            if (x.carrier == "Amtrak"){
				e.innerHTML += "<form name = \"myform\" action = " + x.link + "?" + x.payload + " method = \"POST\" target=\"_blank\"><input type = \"submit\" value = \"Tickets\"></form><br />";
			}

			else if (x.carrier == "NJ Transit"){
				e.innerHTML += "<form name = \"myform\" action = " + x.link + "&" + x.payload + " method = \"POST\" target=\"_blank\"><input type = \"submit\" value = \"Tickets\"></form><br />";
			}

			else{
				e.innerHTML += "<form><input type = \"button\" value = \"Tickets\" onClick=\"window.open(\'" + x.link + "\', \'newWindow\');\"></form><br />";
				// "<form name = \"myform\" action =" + x.link  + " method = \"GET\" target=\"_blank\"><input type = \"submit\" value = \"Tickets\"></form><br />";

			}
			//"Tickets: <a href=\"#\" target =\"_blank\" onclick=\"post_to_url(" + x.link + "&" + x.payload + ")\">link</a><br />";
	    }
	

		function appendMap(e, i) {
			e.innerHTML += "<button type = \"button\" onclick = \"callMap(" + i + ")\">map</button><br />";
		}

		function callMap(i) {
            r = results[i];
            console.log("callMapi = " + r);
			showMap(r.stops, r.carriers);
		}

		function carriertomode(c) {
			if (c == "Megabus") {
				return "DRIVING";
			}
			if (c == "Amtrak" || c == "NJ Transit") {
				return "TRANSIT";
			}
			return "FLYING";
		}

		function post_to_url(path) {
		    var form = document.createElement("form");
		    form.setAttribute("method", "post");
		    form.setAttribute("action", path);
		    form.setAttribute("target", "_blank");

		    document.body.appendChild(form);
		    form.submit();
		}


		var isLoading = false;
		function toggleloadingimage() {
			if (isLoading) {
				$.unblockUI();
			}
			else {
				$.blockUI({ message: '<img src="{{url_for('static', filename='img/ajax-loader.gif') }}"/>' });
			}
			isLoading = !isLoading;
			//$( ".loading img" ).fadeToggle();
		}

		function detectIE() {
			var isFirefox = typeof InstallTrigger !== 'undefined';
			var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
			var isChrome = !!window.chrome;
			var isIE = /*@cc_on!@*/false;
			if (!isFirefox && !isSafari && !isChrome) {
				$.blockUI({message: 'Your browser is not supported. Please use Firefox, Chrome, or Safari.'});
			}
		}

		var places = [];
		function loadCities() {
			$.get("cities", function (data, status) {
                    for (a in data) {
                        places.push(data[a]);
                    }
                });
		};

		$(document).ready(loadCities());
		$(document).ready(detectIE());

		$(function() {
			$.datepicker.setDefaults({minDate: 0});
			$( "#datepicker" ).datepicker();
			//var places= ["Princeton", "Boston", "New York"];
			//var places = places2;
			$( "#originform" ).autocomplete({
				source: places
			});
			$( "#destform" ).autocomplete({
				source: places
			});
		});

	</script>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{{url_for('static', filename='assets/js/html5shiv.js') }}"></script>
        <![endif]-->

        <!-- Fav and touch icons -->
        <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{url_for('static', filename='assets/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{url_for('static', filename='assets/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{url_for('static', filename='assets/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='assets/ico/apple-touch-icon-57-precomposed.png') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='assets/ico/favicon.png') }}"> -->
    </head>

    <body>
        <div class="modal fade" id="results-modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Results</h3> <h4 id="results-header"></h4>
                <div id="sort-options">
                    <label>Sort by:</label>
                    <div class="switch candy blue switch-four">
                        <input id="sort-by-price" name="sorting" type="radio" checked>
                        <label for="sort-by-price" onclick="sortresults(comparebyprice, 1)">Price</label>

                        <input id="sort-by-arrival-time" name="sorting" type="radio">
                        <label for="sort-by-arrival-time" onclick="sortresults(comparebyarrival, 2)">Arrival Time</label>

                        <input id="sort-by-departure-time" name="sorting" type="radio">
                        <label for="sort-by-departure-time" onclick="sortresults(comparebydeparture, 3)">Departure Time</label>

                        <input id="sort-by-elapsed-time" name="sorting" type="radio">
                        <label for="sort-by-elapsed-time" onclick="sortresults(comparebyelapsed, 4)">Elapsed Time</label>

                        <span class="slide-button"></span>
                    </div>
                </div>
                <!--<button onclick="sortresults(comparebyprice)">Sort by Price</button>
                <button onclick="sortresults(comparebyarrival)">Sort by Arrival Time</button>
                <button onclick="sortresults(comparebydeparture)">Sort by Departure Time</button>
                <button onclick="sortresults(comparebyelapsed)">Sort by Elapsed Time</button>-->
            </div>
            <div class="modal-body" id="results-div">
            </div>
        </div>

        <div class="modal fade" id="map-modal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h4 id="map-header"></h4>

            </div>
            <div class="modal-body" id="map-div">
            </div>
        </div>       
        <div class="container">

            <div class="masthead">
                    <img src="{{url_for('static', filename='img/Slide1.png') }}" class="logoStuff"> 
                    <img src="{{url_for('static', filename='img/Slide2.png') }}" class="logoStuff">
                    <!--<h3 class="muted">Nightcrawler</h3> -->
                    <hr></hr>

            </div>

            <!-- Jumbotron -->
            <div class="jumbotron">
                <h1>Search a Route!</h1>
                <p class="lead">Type in an origin, destination, and your travel preferences <br> and get started with Nightcrawler today!</p>
            </div>

            <div class="well offset1 span7">  
                <label>Origin</label>
                <input type="text" class="span3" placeholder="e.g. New York, NY" id="originform">  
                <label>Destination</label>  
                <input type="text" class="span3" placeholder="e.g. Princeton, NJ" id="destform">
		<label>Date</label>
		<input type="text" id="datepicker">
                <!--<input type="text" class="span3" id="month" placeholder="e.g. MM">
                <input type="text" class="span3" id="day" placeholder="e.g. DD">
                <input type="text" class="span3" id="year" placeholder="e.g. YYYY">-->

                <div id="switchbar">
                    <label>Time (optional)</label>
                    <div class="switch candy blue">
                        <input id="arriveby" name="time" type="radio" checked>
                        <label for="arriveby" onclick="">Arrive By</label>

                        <input id="departby" name="time" type="radio">
                        <label for="departby" onclick="">Depart After</label>

                        <span class="slide-button"></span>
                    </div>
	        </div>
                <input type="text" class="span3" id="hour" placeholder="HH">
                <input type="text" class="span3" id="minute" placeholder="MM">
		<select class="dropdown"><option value="AM" id="AM">AM</option><option value="PM" id="PM">PM</option></select>
                <!-- <label>Optimize for:</label>
                <input type="radio" name="optimize" id="speed" checked>Speed</input>
                <input type="radio" name="optimize" id="cheapness">Cheapness</input>-->

                <div id="switchbar">
                    <label>Optimize for:</label>
                    <div class="switch candy blue">
                        <input id="speed" name="optimize" type="radio" checked>
                        <label for="speed" onclick="">Speed</label>

                        <input id="cheapness" name="optimize" type="radio"> 
                        <label for="cheapness" onclick="">Price</label>

                        <span class="slide-button"></span>
                    </div>
                </div>
            <div class="results"><button class="btn btn-large btn-success" type="button" onclick="submit()">Submit</button> </div>
                <br></br>

		<!--<button type="submit" class="btn btn-large btn-success" onclick="submit()">Submit</button>  -->
	</div>    <br/>

	

	<!--<div class="results">
		<button onclick="sortresults(comparebyprice)">Sort by Price</button>
		<button onclick="sortresults(comparebyarrival)">Sort by Arrival Time</button>
		<button onclick="sortresults(comparebydeparture)">Sort by Departure Time</button>
		<button onclick="sortresults(comparebyelapsed)">Sort by Elapsed Time</button>
	</div>-->
	    <div class="results" id="results"></div>

            <!-- Le javascript
            ================================================== -->
            <script src="{{url_for('static', filename='assets/js/bootstrap.js') }}"></script>
            <!-- Placed at the end of the document so the pages load faster -->
            <!--<script src="{{url_for('static', filename='assets/js/jquery.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-transition.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-alert.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-modal.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-dropdown.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-tab.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-tooltip.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-popover.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-button.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-collapse.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-carousel.js') }}"></script>
            <script src="{{url_for('static', filename='assets/js/bootstrap-typeahead.js') }}"></script>-->

        </body>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li class="active"><a href="home">Home</a></li>
                                <li><a href="timeline">Timeline</a></li>
                                <li><a href="/">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.navbar -->
    </html>

