<html>
    <head>
        <!-- Le styles -->
        <link href="{{url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">

        <link href="{{url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />
    </head>

    <a href="home"><h1>Project Nightcrawler</h1></a>
    <a href="/timeline.html">Timeline </a>
    <hr></hr>
    <body>
        <h2>Hello there, and welcome to our page!</h2>
        

        <p>
            Suppose you need to find a way to get from Princeton to Boston as quickly as possible. Should you take the bus? The train? The plane?
        </p>

        <p>
            Or what if you're saving up all your money to buy something awesome, but your family insists that you come from Princeton to Baltimore to visit them? What would be the cheapest way to get there? Trains? Buses? Planes? A combination?
        </p>

        <p>
            It might seem very confusing to have to figure out a way to plan your trip. You have to visit bus websites. Then you have to visit plane websites. And then there are the train websites. You have to piece all the different legs together. Along the way, you might wonder: "is this really the cheapest way to get here? Can I make this faster?"
        </p>

        <p>
            Luckily, Project Nightcrawler is here to the rescue. We make it easy for you to figure out how to get from Point A from Point B in the cheapest or fastest way possible. No more visiting dozens of different websites and getting confused - we'll take care of it for you. Simply enter in your origin city, your destination city and date of travel, and we'll give you a list of routes that can be sorted by price, duration, or arrival and departure time. You can even enter in a specific arrival or departure time and we'll filter your results for you.
        </p>

        <p>
            Nightcrawler. It's fast, easy, and fun!
        </p>

        <h2> It's so simple to use! </h2>
        <p>
            In the text box under the label "Origin," begin entering the city where you begin your journey. An autocomplete field will appear below the textbox with your full city name listed out. When you see your city appear, click on your city. If your city does not appear, then you are not traveling from a valid city. If this is the case, please try again.
        </p>

        <p>
            In the text box under the label "Destination," begin entering the city where you end your journey. Just like the "Origin" city, an autocomplete field will begin to appear below your textbox, where you can select your destination city.
        </p>

        <p>
            Below text that says "date", you can click within the textbox, which will trigger a Calendar widget to appear, where you can navigate between the different months of the year and select a date when you would like to travel. Clicking the desired date of travel will fill in the 'Date' textbox for you.
        </p>
        <p>
            Under the label "Time," you can fill in the hour (a single number between 1 and 12) in the first textbox and the minute (a two-digit number between 00 and 59) in the second textbox. Finally, you should select whether this time reflects an AM or PM time from the drop-down menu. You can also toggle how this time is interpreted: choosing "Arrive by" will only give you results that arrive by the time you entered, and choosing "Depart after" will only give you results that depart after the time you entered.
        </p>
        <p>
            Finally, you can select from the "Optimize for:" how you would like us to optimize your results! Selecting "Speed" will sort your results by the time of the trip. Selecting "Price" will sort your results by the price of each trip.
        </p>
        <p>
            Click submit in order to see all of your trips pop up in a new window! For each trip, you can click the "Tickets" button to purchase the tickets, or you can click the "Map" button to see a visual of your journey on a map in a side-by-side popup. There are also buttons on the top of the screen where you can continue sorting your trips by price, speed, arrival time, and departure time.
        </p>
        <p>
            It's that easy!
        </p>


    </body>

</html>
