<html>
    <h1>Project Nightcrawler Timeline Document</h1>
    <hr></hr>
    <h2>March 15, 2013</h2>
    <body>Meeting to finalize project choice and discuss technologies.
        Settled on python as the choice language for the back end server
        because of readability, portability, good documentation, and
        relative familiarity by the team members. Also decided on Bootstrap
        and javascript to structure and power our user-facing interfaces.
        Bootstrap provides a rapid solution to well-designed assets and javascript
        offers a clean way for dynamic updating.
    </body>
    <hr></hr>
    <h2>March 17, 2013</h2>
    <body>Discovered multiple bus lines had been shut down following multiple
        accidents. As such, our bus resources now only include Bolt Bus, Megabus,
        Suburban, and possibly Lucky Star. Train resources are still NJ Transit,
        MTA, and Amtrak. We will likely use Skyscanner to access airline info.
    </body>
    <hr></hr>
    <h2>March 26, 2013</h2>
    <body>Had a meeting setting up github accounts. Set up repository. Three people
        designated to write scripts to start scraping. One person to build a server
        to deploy to. Getting ready to meet on Thursday.
    </body>
    <hr></hr>
    <h2>March 28, 2013</h2>
    <body>Established and deployed on AWS the Hello World Flask application. Can
        be found at <a href="http://nightcrawler-env-sugarrrypg.elasticbeanstalk.com/">here</a>
    </body>
    <hr></hr>
</html>
